* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav {
  background-color: #333; 
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; 
  font-family: 'Poppins', sans-serif; 
}

.logo {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.nav a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.user-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

body {
  margin-top: 0; 
  
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    padding: 20px;
  }

  .menu-container.open .menu {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .menu a {
    font-size: 18px;
    text-align: center;
    padding: 12px;
    width: 100%;
  }

  .menu-container.open .menu a:hover {
    background-color: #575757;
  }
}

